In [2]:
import pandas as pd
import numpy as np

In [3]:
df_covid = pd.read_csv('./covid19/Covid19InfState.csv')

In [4]:
df01 = df_covid[['decideCnt','stateDt']]

In [5]:
df01.dtypes

decideCnt    int64
stateDt      int64
dtype: object

In [6]:
df02 = df01.astype({'decideCnt': int, 

                  'stateDt': str})

In [7]:
df02.dtypes

decideCnt     int32
stateDt      object
dtype: object

In [8]:
df02['stateDt'] = pd.to_datetime(df02['stateDt'])

In [9]:
df02

     decideCnt    stateDt
0            0 2020-01-01
1            2 2020-02-02
2           15 2020-02-03
3           15 2020-02-04
4           18 2020-02-05
..         ...        ...
580     201002 2021-08-02
581     202203 2021-08-03
582     203926 2021-08-04
583     205702 2021-08-05
584     207406 2021-08-06

[585 rows x 2 columns]

In [10]:
j = df02.groupby([df02.stateDt.dt.year, df02.stateDt.dt.month]).last()

In [11]:
df02['date'] = df02['stateDt'].map(lambda dt: dt.replace(day=1))

In [12]:
df02

     decideCnt    stateDt       date
0            0 2020-01-01 2020-01-01
1            2 2020-02-02 2020-02-01
2           15 2020-02-03 2020-02-01
3           15 2020-02-04 2020-02-01
4           18 2020-02-05 2020-02-01
..         ...        ...        ...
580     201002 2021-08-02 2021-08-01
581     202203 2021-08-03 2021-08-01
582     203926 2021-08-04 2021-08-01
583     205702 2021-08-05 2021-08-01
584     207406 2021-08-06 2021-08-01

[585 rows x 3 columns]

In [13]:
k = df02.groupby([df02.date]).last()

In [14]:
j

                 decideCnt    stateDt
stateDt stateDt
2020    1                0 2020-01-01
        2             3150 2020-02-29
        3             9786 2020-03-31
        4            10765 2020-04-30
        5            11468 2020-05-31
        6            12800 2020-06-30
        7            14305 2020-07-31
        8            19947 2020-08-31
        9            23812 2020-09-30
        10           26511 2020-10-31
        11           34201 2020-11-30
        12           60740 2020-12-31
2021    1            77395 2021-01-29
        2            89676 2021-02-28
        3           103088 2021-03-31
        4           122007 2021-04-30
        5           140340 2021-05-31
        6           156961 2021-06-30
        7           198345 2021-07-31
        8           207406 2021-08-06

In [15]:
k

            decideCnt    stateDt
date
2020-01-01          0 2020-01-01
2020-02-01       3150 2020-02-29
2020-03-01       9786 2020-03-31
2020-04-01      10765 2020-04-30
2020-05-01      11468 2020-05-31
2020-06-01      12800 2020-06-30
2020-07-01      14305 2020-07-31
2020-08-01      19947 2020-08-31
2020-09-01      23812 2020-09-30
2020-10-01      26511 2020-10-31
2020-11-01      34201 2020-11-30
2020-12-01      60740 2020-12-31
2021-01-01      77395 2021-01-29
2021-02-01      89676 2021-02-28
2021-03-01     103088 2021-03-31
2021-04-01     122007 2021-04-30
2021-05-01     140340 2021-05-31
2021-06-01     156961 2021-06-30
2021-07-01     198345 2021-07-31
2021-08-01     207406 2021-08-06

In [16]:
k.to_csv('Cumulative.csv')

In [17]:
df_del = pd.read_csv('./dlvr_call.csv', low_memory=False)

In [18]:
df_del.tail()

,SN,PROCESS_DT,DLVR_REQUST_ENTRPS_ID,DLVR_REQUST_STTUS_VALUE,DLVR_RCEPT_ENTRPS_ID,DLVR_STORE_ID,DLVR_STORE_INDUTY_NM,DLVR_STORE_LEGALDONG_CODE,DLVR_STORE_BRTC_NM,DLVR_STORE_SIGNGU_NM,...,DLVR_AMOUNT,CALL_RLAY_FEE_AMOUNT,GOODS_AMOUNT,SETLE_KND_VALUE,SETLE_CARD_NM,DLVR_RCEPT_TIME,DLVR_CARALC_TIME,DLVR_RECPT_TIME,DLVR_COMPT_TIME,DLVR_CANCL_TIME
4296266,7750546,2020-03-31,C000237,1,C000237,S0021188,족발/보쌈,4121010200,경기도,광명시,...,3300,300,20900,2,NaN,2020-03-31 23:56,2020-03-31 23:56,2020-04-01 0:14,2020-04-01 0:18,\N
4296267,7750548,2020-03-31,C000104,1,C000102,S0021967,치킨,1156013300,서울특별시,영등포구,...,6300,200,26000,1,승인:신한카드,2020-03-31 23:55,2020-03-31 23:55,2020-04-01 0:17,2020-04-01 0:26,\N
4296268,7750550,2020-03-31,C000224,1,C000224,S0035329,분식,4127110400,경기도,안산시 상록구,...,5500,200,17000,1,승인:롯데카드사,2020-03-31 23:58,2020-03-31 23:59,2020-04-01 0:18,2020-04-01 0:30,\N
4296269,7750552,2020-03-31,C000130,1,C000130,S0002286,족발/보쌈,4128112300,경기도,고양시 덕양구,...,4000,300,35000,2,NaN,2020-03-31 23:56,2020-04-01 0:01,2020-04-01 0:16,2020-04-01 0:23,\N
4296270,7750553,2020-03-31,C000209,1,C000209,S0022157,야식,1154510200,서울특별시,금천구,...,3300,300,30000,1,승인:비씨카드사,2020-03-31 23:55,2020-03-31 23:56,2020-04-01 0:11,2020-04-01 0:15,\N

In [28]:
df_del['PROCESS_DT'] = pd.to_datetime(df_del['PROCESS_DT'])

In [29]:
df_del.dtypes

SN                                    int64
PROCESS_DT                   datetime64[ns]
DLVR_REQUST_ENTRPS_ID                object
DLVR_REQUST_STTUS_VALUE               int64
DLVR_RCEPT_ENTRPS_ID                 object
DLVR_STORE_ID                        object
DLVR_STORE_INDUTY_NM                 object
DLVR_STORE_LEGALDONG_CODE             int64
DLVR_STORE_BRTC_NM                   object
DLVR_STORE_SIGNGU_NM                 object
DLVR_STORE_LEGALDONG_NM              object
DLVR_STORE_LI_NM                     object
DLVR_STORE_ADSTRD_CODE                int64
DLVR_STORE_RDNMADR_CODE              object
DLVR_DSTN_LEGALDONG_CODE              int64
DLVR_DSTN_BRTC_NM                    object
DLVR_DSTN_SIGNGU_NM                  object
DLVR_DSTN_LEGALDONG_NM               object
DLVR_DSTN_LI_NM                      object
DLVR_DSTN_ADSTRD_CODE                object
DLVR_DSTN_RDNMADR_CODE               object
DLVR_MAN_ID                          object
DLVR_AMOUNT                           int64
CALL_RLAY_FEE_AMOUNT                  int64
GOODS_AMOUNT                          int64
SETLE_KND_VALUE                       int64
SETLE_CARD_NM                        object
DLVR_RCEPT_TIME                      object
DLVR_CARALC_TIME                     object
DLVR_RECPT_TIME                      object
DLVR_COMPT_TIME                      object
DLVR_CANCL_TIME                      object
dtype: object

In [30]:
df_del.tail()

,SN,PROCESS_DT,DLVR_REQUST_ENTRPS_ID,DLVR_REQUST_STTUS_VALUE,DLVR_RCEPT_ENTRPS_ID,DLVR_STORE_ID,DLVR_STORE_INDUTY_NM,DLVR_STORE_LEGALDONG_CODE,DLVR_STORE_BRTC_NM,DLVR_STORE_SIGNGU_NM,...,DLVR_AMOUNT,CALL_RLAY_FEE_AMOUNT,GOODS_AMOUNT,SETLE_KND_VALUE,SETLE_CARD_NM,DLVR_RCEPT_TIME,DLVR_CARALC_TIME,DLVR_RECPT_TIME,DLVR_COMPT_TIME,DLVR_CANCL_TIME
4296266,7750546,2020-03-31,C000237,1,C000237,S0021188,족발/보쌈,4121010200,경기도,광명시,...,3300,300,20900,2,NaN,2020-03-31 23:56,2020-03-31 23:56,2020-04-01 0:14,2020-04-01 0:18,\N
4296267,7750548,2020-03-31,C000104,1,C000102,S0021967,치킨,1156013300,서울특별시,영등포구,...,6300,200,26000,1,승인:신한카드,2020-03-31 23:55,2020-03-31 23:55,2020-04-01 0:17,2020-04-01 0:26,\N
4296268,7750550,2020-03-31,C000224,1,C000224,S0035329,분식,4127110400,경기도,안산시 상록구,...,5500,200,17000,1,승인:롯데카드사,2020-03-31 23:58,2020-03-31 23:59,2020-04-01 0:18,2020-04-01 0:30,\N
4296269,7750552,2020-03-31,C000130,1,C000130,S0002286,족발/보쌈,4128112300,경기도,고양시 덕양구,...,4000,300,35000,2,NaN,2020-03-31 23:56,2020-04-01 0:01,2020-04-01 0:16,2020-04-01 0:23,\N
4296270,7750553,2020-03-31,C000209,1,C000209,S0022157,야식,1154510200,서울특별시,금천구,...,3300,300,30000,1,승인:비씨카드사,2020-03-31 23:55,2020-03-31 23:56,2020-04-01 0:11,2020-04-01 0:15,\N

In [31]:
df03 = df_del['DLVR_REQUST_STTUS_VALUE'] == 1

In [32]:
df04 = df_del[df03]

In [33]:
df04

,SN,PROCESS_DT,DLVR_REQUST_ENTRPS_ID,DLVR_REQUST_STTUS_VALUE,DLVR_RCEPT_ENTRPS_ID,DLVR_STORE_ID,DLVR_STORE_INDUTY_NM,DLVR_STORE_LEGALDONG_CODE,DLVR_STORE_BRTC_NM,DLVR_STORE_SIGNGU_NM,...,DLVR_AMOUNT,CALL_RLAY_FEE_AMOUNT,GOODS_AMOUNT,SETLE_KND_VALUE,SETLE_CARD_NM,DLVR_RCEPT_TIME,DLVR_CARALC_TIME,DLVR_RECPT_TIME,DLVR_COMPT_TIME,DLVR_CANCL_TIME
0,3486929,2019-12-01,C000101,1,C000101,S0021950,족발/보쌈,1156013200,서울특별시,영등포구,...,3300,200,18000,1,승인:KB국민카드,2019-12-01 20:47:52,2019-12-01 20:48:11,2019-12-01 20:55:33,2019-12-01 21:00:15,\N
1,3486930,2019-12-01,C000099,1,C000099,S0039210,치킨,4128510200,경기도,고양시 일산동구,...,2900,0,21900,1,승인:현대카드사,2019-12-01 21:58:07,2019-12-01 22:01:06,2019-12-01 22:20:53,2019-12-01 22:26:01,\N
2,3486932,2019-12-01,C000029,1,C000043,S0036135,치킨,4115010100,경기도,의정부시,...,3500,200,19500,2,NaN,2019-12-01 22:20:31,2019-12-01 22:37:45,2019-12-01 22:58:27,2019-12-01 22:58:32,\N
3,3486933,2019-12-01,C000105,1,C000105,S0039956,돈까스/일식,4128510400,경기도,고양시 일산동구,...,3500,0,18000,2,NaN,2019-12-01 21:40:39,2019-12-01 21:48:41,2019-12-01 22:06:35,2019-12-01 22:17:57,\N
4,3486934,2019-12-01,C000028,1,C000043,S0003074,치킨,4115010900,경기도,의정부시,...,3500,200,18000,3,NaN,2019-12-01 19:44:37,2019-12-01 19:48:07,2019-12-01 19:54:30,2019-12-01 20:00:22,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4296266,7750546,2020-03-31,C000237,1,C000237,S0021188,족발/보쌈,4121010200,경기도,광명시,...,3300,300,20900,2,NaN,2020-03-31 23:56,2020-03-31 23:56,2020-04-01 0:14,2020-04-01 0:18,\N
4296267,7750548,2020-03-31,C000104,1,C000102,S0021967,치킨,1156013300,서울특별시,영등포구,...,6300,200,26000,1,승인:신한카드,2020-03-31 23:55,2020-03-31 23:55,2020-04-01 0:17,2020-04-01 0:26,\N
4296268,7750550,2020-03-31,C000224,1,C000224,S0035329,분식,4127110400,경기도,안산시 상록구,...,5500,200,17000,1,승인:롯데카드사,2020-03-31 23:58,2020-03-31 23:59,2020-04-01 0:18,2020-04-01 0:30,\N
4296269,7750552,2020-03-31,C000130,1,C000130,S0002286,족발/보쌈,4128112300,경기도,고양시 덕양구,...,4000,300,35000,2,NaN,2020-03-31 23:56,2020-04-01 0:01,2020-04-01 0:16,2020-04-01 0:23,\N
4296270,7750553,2020-03-31,C000209,1,C000209,S0022157,야식,1154510200,서울특별시,금천구,...,3300,300,30000,1,승인:비씨카드사,2020-03-31 23:55,2020-03-31 23:56,2020-04-01 0:11,2020-04-01 0:15,\N

In [36]:
df05 = df04.groupby([df04.PROCESS_DT]).count()

In [37]:
df05

                           SN  PROCESS_DT  DLVR_REQUST_ENTRPS_ID  \
PROCESS_DT PROCESS_DT
2019       12          627911      627911                 627911
2020       1           620537      620537                 620537
           2           680265      680265                 680265
           3           765691      765691                 765691
           4           739668      739668                 739668
           5           786920      786920                 786920

                       DLVR_REQUST_STTUS_VALUE  DLVR_RCEPT_ENTRPS_ID  \
PROCESS_DT PROCESS_DT
2019       12                           627911                627911
2020       1                            620537                620537
           2                            680265                680265
           3                            765691                765691
           4                            739668                739668
           5                            786920                786920

                       DLVR_STORE_ID  DLVR_STORE_INDUTY_NM  \
PROCESS_DT PROCESS_DT
2019       12                 627911                627911
2020       1                  620537                620537
           2                  680265                680265
           3                  765691                765691
           4                  739668                739668
           5                  786920                786920

                       DLVR_STORE_LEGALDONG_CODE  DLVR_STORE_BRTC_NM  \
PROCESS_DT PROCESS_DT
2019       12                             627911              627911
2020       1                              620537              620537
           2                              680265              680265
           3                              765691              765691
           4                              739668              739668
           5                              786920              786920

                       DLVR_STORE_SIGNGU_NM  ...  DLVR_AMOUNT  \
PROCESS_DT PROCESS_DT                        ...
2019       12                        627911  ...       627911
2020       1                         620537  ...       620537
           2                         680265  ...       680265
           3                         765691  ...       765691
           4                         739668  ...       739668
           5                         786920  ...       786920

                       CALL_RLAY_FEE_AMOUNT  GOODS_AMOUNT  SETLE_KND_VALUE  \
PROCESS_DT PROCESS_DT
2019       12                        627911        627911           627911
2020       1                         620537        620537           620537
           2                         680265        680265           680265
           3                         765691        765691           765691
           4                         739668        739668           739668
           5                         786920        786920           786920

                       SETLE_CARD_NM  DLVR_RCEPT_TIME  DLVR_CARALC_TIME  \
PROCESS_DT PROCESS_DT
2019       12                 160580           627911            627911
2020       1                  155269           620537            620537
           2                  166283           680265            680265
           3                  163463           765691            765691
           4                  190550           739668            739668
           5                  281566           786920            786920

                       DLVR_RECPT_TIME  DLVR_COMPT_TIME  DLVR_CANCL_TIME
PROCESS_DT PROCESS_DT
2019       12                   627911           627911           627911
2020       1                    620537           620537           620537
           2                    680265           680265           680265
           3                    765691           765691           765691
           4                    739668           739668           739668
           5                    786920           786920           786920

[6 rows x 32 columns]

In [22]:
df06 = df05['DLVR_REQUST_STTUS_VALUE']

In [23]:
df06

PROCESS_DT  PROCESS_DT
2019.0      12.0          627911
2020.0      1.0           620537
            2.0           680265
            3.0           765691
            4.0           739668
            5.0           786920
Name: DLVR_REQUST_STTUS_VALUE, dtype: int64

In [43]:
df06.to_csv('order.csv')

In [63]:
df07 = pd.read_csv('./cumulative.csv',index_col = 'date')

In [64]:
df08 = pd.read_csv('./order.csv',index_col = 'date')

In [65]:
df07

        decideCnt
date
202001          0
202002       3150
202003       9786
202004      10765
202005      11468
202006      12800
202007      14305
202008      19947
202009      23812
202010      26511
202011      34201
202012      60740
202101      77395
202102      89676
202103     103088
202104     122007
202105     140340
202106     156961
202107     198345
202108     207406

In [66]:
df08

        orders
date
201912  627911
202001  620537
202002  680265
202003  765691
202004  739668
202005  786920

In [67]:
df09 = pd.merge(df07, df08, left_on='date', right_on='date', how='outer')

        decideCnt    orders
date
202001        0.0  620537.0
202002     3150.0  680265.0
202003     9786.0  765691.0
202004    10765.0  739668.0
202005    11468.0  786920.0
202006    12800.0       NaN
202007    14305.0       NaN
202008    19947.0       NaN
202009    23812.0       NaN
202010    26511.0       NaN
202011    34201.0       NaN
202012    60740.0       NaN
202101    77395.0       NaN
202102    89676.0       NaN
202103   103088.0       NaN
202104   122007.0       NaN
202105   140340.0       NaN
202106   156961.0       NaN
202107   198345.0       NaN
202108   207406.0       NaN
201912        NaN  627911.0

In [70]:
df09 = df09.sort_index()

In [74]:
df10 = df09.fillna(0)

In [77]:
df_deor = df10[:6]

In [78]:
df_deor.to_csv('df_deor.csv')

In [38]:
df10 = df04.groupby([df04.PROCESS_DT]).count()

In [39]:
df10['DLVR_REQUST_STTUS_VALUE']

,SN,DLVR_REQUST_ENTRPS_ID,DLVR_REQUST_STTUS_VALUE,DLVR_RCEPT_ENTRPS_ID,DLVR_STORE_ID,DLVR_STORE_INDUTY_NM,DLVR_STORE_LEGALDONG_CODE,DLVR_STORE_BRTC_NM,DLVR_STORE_SIGNGU_NM,DLVR_STORE_LEGALDONG_NM,...,DLVR_AMOUNT,CALL_RLAY_FEE_AMOUNT,GOODS_AMOUNT,SETLE_KND_VALUE,SETLE_CARD_NM,DLVR_RCEPT_TIME,DLVR_CARALC_TIME,DLVR_RECPT_TIME,DLVR_COMPT_TIME,DLVR_CANCL_TIME
PROCESS_DT,,,,,,,,,,,,,,,,,,,,,
2019-12-01,9501,9501,9501,9501,9501,9501,9501,9501,9501,9501,...,9501,9501,9501,9501,2391,9501,9501,9501,9501,9501
2019-12-02,14101,14101,14101,14101,14101,14101,14101,14101,14101,14101,...,14101,14101,14101,14101,3447,14101,14101,14101,14101,14101
2019-12-03,15574,15574,15574,15574,15574,15574,15574,15574,15574,15574,...,15574,15574,15574,15574,4013,15574,15574,15574,15574,15574
2019-12-04,15579,15579,15579,15579,15579,15579,15579,15579,15579,15579,...,15579,15579,15579,15579,3970,15579,15579,15579,15579,15579
2019-12-05,17096,17096,17096,17096,17096,17096,17096,17096,17096,17096,...,17096,17096,17096,17096,4459,17096,17096,17096,17096,17096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-27,21330,21330,21330,21330,21330,21330,21330,21330,21330,21330,...,21330,21330,21330,21330,8265,21330,21330,21330,21330,21330
2020-05-28,22614,22614,22614,22614,22614,22614,22614,22614,22614,22614,...,22614,22614,22614,22614,8691,22614,22614,22614,22614,22614
2020-05-29,26455,26455,26455,26455,26455,26455,26455,26455,26455,26455,...,26455,26455,26455,26455,10244,26455,26455,26455,26455,26455
2020-05-30,31377,31377,31377,31377,31377,31377,31377,31377,31377,31377,...,31377,31377,31377,31377,12018,31377,31377,31377,31377,31377
2020-05-31,32146,32146,32146,32146,32146,32146,32146,32146,32146,32146,...,32146,32146,32146,32146,11512,32146,32146,32146,32146,32146

In [40]:
df11 = df10['DLVR_REQUST_STTUS_VALUE']

In [43]:
df11.shape

(182,)

In [44]:
df11

PROCESS_DT
2019-12-01     9501
2019-12-02    14101
2019-12-03    15574
2019-12-04    15579
2019-12-05    17096
              ...
2020-05-27    21330
2020-05-28    22614
2020-05-29    26455
2020-05-30    31377
2020-05-31    32146
Name: DLVR_REQUST_STTUS_VALUE, Length: 182, dtype: int64

In [48]:
df12 = df02[['stateDt','decideCnt']]

In [50]:
df12.index = df12['stateDt']

In [54]:
del df12['stateDt']

In [55]:
df12

            decideCnt
stateDt
2020-01-01          0
2020-02-02          2
2020-02-03         15
2020-02-04         15
2020-02-05         18
...               ...
2021-08-02     201002
2021-08-03     202203
2021-08-04     203926
2021-08-05     205702
2021-08-06     207406

[585 rows x 1 columns]

In [59]:
df20 = pd.merge(df11, df12,left_index=True, right_index=True, how='left')

In [60]:
df20

            DLVR_REQUST_STTUS_VALUE  decideCnt
2019-12-01                     9501        NaN
2019-12-02                    14101        NaN
2019-12-03                    15574        NaN
2019-12-04                    15579        NaN
2019-12-05                    17096        NaN
...                             ...        ...
2020-05-27                    21330    11265.0
2020-05-28                    22614    11344.0
2020-05-29                    26455    11402.0
2020-05-30                    31377    11441.0
2020-05-31                    32146    11468.0

[216 rows x 2 columns]

In [62]:
df_reg = df20.dropna()

In [63]:
df_reg

            DLVR_REQUST_STTUS_VALUE  decideCnt
2020-01-01                    24385        0.0
2020-02-02                    27739        2.0
2020-02-03                    19956       15.0
2020-02-04                    21453       15.0
2020-02-05                    23551       18.0
...                             ...        ...
2020-05-27                    21330    11265.0
2020-05-28                    22614    11344.0
2020-05-29                    26455    11402.0
2020-05-30                    31377    11441.0
2020-05-31                    32146    11468.0

[154 rows x 2 columns]

In [64]:
df_reg.columns = ['order','decide']

In [66]:
df_reg.to_csv('df_reg.csv')

In [4]:
df_covid

,seq,stateDt,stateTime,decideCnt,clearCnt,examCnt,deathCnt,careCnt,resutlNegCnt,accExamCnt,accExamCompCnt,accDefRate,createDt,updateDt
0,1,20200101,18:00,0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,47:33.3,21:56.6
1,2,20200202,9:00,2,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,22:49.5,NaN
2,3,20200203,9:00,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41:17.2,19:46.5
3,4,20200204,0:00,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26:59.6,NaN
4,5,20200205,9:00,18,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,56:31.3,43:16.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,591,20210802,0:00,201002,176605.0,387170.0,2099.0,22298.0,11184433.0,11772605.0,11385435.0,1.765431,37:52.0,NaN
581,592,20210803,0:00,202203,177909.0,398300.0,2104.0,22190.0,11219513.0,11820016.0,11421716.0,1.770338,38:51.5,NaN
582,593,20210804,0:00,203926,179123.0,397889.0,2106.0,22697.0,11262430.0,11864245.0,11466356.0,1.778473,49:14.9,NaN
583,594,20210805,0:00,205702,180719.0,415489.0,2109.0,22874.0,11287245.0,11908436.0,11492947.0,1.789811,50:52.9,NaN
584,595,20210806,0:00,207406,182052.0,427050.0,2113.0,23241.0,11317196.0,11951652.0,11524602.0,1.799680,43:45.4,NaN